label {
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

label span.description {
    color: #9f9f9f;
}

.zdb-array-element {
    margin-bottom: 5px;
}

.zdb-array-container {
    border: 1px solid #ccc;
    padding: 10px;
}

.zdb-object-container {
    display: flex;
    width: 100%;
}

.zdb-object-container * {
    flex: 1;
}
